{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the About Page</h1>
                <p>From template: {{index .StringMap "test"}}</p>
                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Your remote IP address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        I don't know your IP address yet. Visit the <a href="/">Home</a>
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}
